<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br>

  <p class="top_border">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
  </p><br>
  <p class="top_border">
    <%= f.label :photo_url %><br>
    <%= f.text_field :photo_url %>
  </p><br>
  
  <p class="top_border">
      <%= f.label :resume_url %><br>
      <%= f.text_field :resume_url %>
  </p><br>
  <p>
    <div class="actions">
    <%= f.submit "Create", :id => "buttons" %>
    </div>
  </p><br>
<% end %>
