<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<br>
<br>
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <%= image_tag(@profile.photo_url, size: "150x150")%>
</p>

<p>
  <strong>Resume url:</strong>
  <%= @profile.resume_url %>
</p>

<p>
  <strong>Notes about this person:</strong>
  <%= @profile.resume_url %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
