<br>
<br>
<br>
<br>
<br>
<br>
<p id="notice"><%= notice %></p>
<p class="text-center">
  <strong><big>
  <%= @profile.name %></strong></big>
</p>
<p class="text-center"><small>
<%= link_to 'Edit', edit_profile_path(@profile) %> 
<br></p></small>
<p class="text-center">


<p>
  <% if @profile.photo_url and @profile.photo_url != "" %>
  <%= image_tag(@profile.photo_url, size: "150x150")%>
  <% else %>
   <%= link_to 'Add a photo', edit_profile_path(@profile) %> 
  <% end %>
  
</p>
<br>
<p class="text-center">
  <a href=<%= @profile.resume_url %>>Resume</a>
=======

<p>
  <% if @profile.resume_url and @profile.resume_url != "" %>
    <a href=<%= @profile.resume_url %>>Resume</a>
  <% else %>
   <%= link_to 'Add a resume', edit_profile_path(@profile) %> 
  <% end %>
>>>>>>> show edit link when there is no profile photo or resume
</p>
<br>
<p class="text-center">
  <strong>Notes about this person:</strong>
  <tbody>
    <% @profile.notes.each do |note| %>
      <br>
      <tr>
        <th><b><%= link_to note.production.name, note_path(note.id) %></b></th>
        <td><%= note.role %></td>
        <td><%= note.description %></td>
      </tr>
    <% end %>
  </tbody>
</p>
<br><br>
