<p id="notice"><%= notice %></p>
<<<<<<< HEAD
<br>
<br>
<br>
<br>
<br>
=======

>>>>>>> 23ffaaeeac5abd98bd2db2411f4ffe77d570a498
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @profile.photo_url %>
</p>

<p>
  <strong>Resume url:</strong>
  <%= @profile.resume_url %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
