<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Profile</h1>
      <p id="notice"><%= notice %></p>
      <p class="text-center">
        <strong><big><%= @profile.name %></strong></big>
      </p>
      <p class="text-center"><small><%= link_to 'Edit', edit_profile_path(@profile) %> </small></p>
      
      <p class="text-center">
        <% if @profile.photo_url and @profile.photo_url != "" %>
        <%= image_tag(@profile.photo_url, size: "150x150")%>
        <% else %>
         <%= link_to 'Add a photo', edit_profile_path(@profile) %> 
        <% end %>
        
      </p>
      <br>
      <p class="text-center">
        <% if @profile.resume_url and @profile.resume_url != "" %>
          <a href=<%= @profile.resume_url %>>RESUME</a>
        <% else %>
         <%= link_to 'Add a resume', edit_profile_path(@profile) %> 
        <% end %>
      </p>
      <br>
      
        <strong><p>Notes about this person:</strong></p>

        <p class="text-center">
        <table border="1">
          <thead>
            <tr>
              <th>Production</th>
              <th>Role</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <% @profile.notes.each do |note| %>
              <tr>
                <td><b><%= link_to note.production.name, note_path(note.id) %></b></td>
                <td><%= note.role %></td>
                <td><%= note.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </p>
<br><br>
    </div>
  </div>
</div>
