<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<br>
<br>
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <%= image_tag(@profile.photo_url, size: "150x150")%>
</p>

<p>
  <a href=<%= @profile.resume_url %>>Resume</a>
</p>

<p>
  <strong>Notes about this person:</strong>
  <tbody>
    <table border="1">
    <% @profile.notes.each do |note| %>
      <br>
      <tr>
        <th><b><%= link_to note.production.name, note_path(note.id) %></b></th>
        <td><%= note.role %></td>
        <td><%= note.description %></td>
      </tr>
    <% end %>
  </tbody>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
