<h1>Edit Note</h1>

<%= form_for :note, url: note_path(@note), method: :patch do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
 <p>
    <%= f.label :production %><br>
    <%= f.text_field :production %>
  </p>
  
 <p>
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </p>
  
  <p><b>Overall, Would you recommend/work with this person again?</b></p>
  <fieldset id="rating">
    <%= radio_button_tag("note[rating]", "5", (@note.rating == 5)) %> 5 Yes!!<br>
    <%= radio_button_tag("note[rating]", "4", (@note.rating == 4)) %> 4 Yes<br>
    <%= radio_button_tag("note[rating]", "3", (@note.rating == 3)) %> 3 I won't cast them, but I won't object<br>
    <%= radio_button_tag("note[rating]", "2", (@note.rating == 2)) %> 2 Rather not<br>
    <%= radio_button_tag("note[rating]", "1", (@note.rating == 1)) %> 1 Definitely not<br>
  </fieldset>  
  
  <p><b>How is this person's attitude?</b></p>
  <fieldset id="attitude">
    <%= radio_button_tag("note[attitude]", "4", (@note.attitude == 4)) %> 4 Brings joy to every rehearsal<br>
    <%= radio_button_tag("note[attitude]", "3", (@note.attitude == 3)) %> 3 Professional and easy to work with<br>
    <%= radio_button_tag("note[attitude]", "2", (@note.attitude == 2)) %> 2 Sometimes needs managing<br>
    <%= radio_button_tag("note[attitude]", "1", (@note.attitude == 1)) %> 1 Difficult<br>
  </fieldset>
  
  <p>
    <%= f.label :descrption %><br>
    <%= f.text_area :description %>
  </p>
  
  
  
  <p>
    <%= f.submit "Update"%>
  </p>
 
<%= link_to 'Back', root_path %>
<% end %>