<!DOCTYPE html>
<html>
<head>
  <title>Directable</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/2590d0dbef.js"></script>
<style>
body {
  /*background-color: #DCDCDC !important;*/
    background-color: #e0e0e0 !important;

}
</style>
</head>
<br>
<br>
<br>
<br>
<br>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title">Search Notes</h1>
        <p class="top_border">
          <br>
          
        <%= button_to "Add Production", new_production_path, :method => "get" %>
        <br>
         <%= button_to "Add Profile", new_profile_path, :method => "get" %>
        </p>
        <p id="notice"><%= notice %></p>
        
        <br>
        
        <%= form_for :note, :url => notes_search_path, :html => { :method => :post }  do |f| %>
        
          <p>
            <%= f.label :name %><br>
            <%= f.text_field :name %> 
          </p>
          
          <p>
            <%= f.label :role %><br>
            <div class="black-dropdown">
              <%= f.select :role, [['Musician','Musician'],['Actor/Actress','Actor/Actress']] %>
            </div>
          </p>
        
          <p>
            <%= f.label :production_id %><br>
            <div class="black-dropdown">
              <%= f.collection_select :production_id, @unique_productions, :id, :name, {:include_blank => ''} %> 
            </div>
          </p>
          
          <p>
            <%= f.label :instrument %><br>
            <%= f.text_field :instrument %> 
          </p>
        
          <p>
            <%= f.submit "Search"%>
          </p>
          <br>
        <% end %>
        </div>
        </div>
        </div>
</body>
</html>