<h1>New Note</h1>

<%= form_for :note, url: notes_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :production %><br>
    <%= f.text_field :production %> 
  </p>
  
  <p>
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </p>
  
  
 
  <p>
    <%= f.submit "Next"%>
  </p>
 
<%= link_to 'Back', root_path %>
<% end %>