<br>
<br>
<br>
<br>
<br>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>New Note</h1>

        <%= form_for :note, url: notes_path do |f| %>
        
          <p id="notice"><font color="red"><%= flash[:create_notice] %></font></p>

          <p class="top_border">
            <br>
          </p>
          
        <!--<div class="centered">-->
          <p>
            <%= f.label :name %><br>
            <%= f.text_field :name, :id => "text-field", :placeholder => 'Enter Name Here' %>
          </p>

          <br>          
          <p>
            <%= f.label :production_id %><br>
            <div class="black-dropdown">
              <%= f.collection_select :production_id, @unique_productions, :id, :name, {:include_blank => 'Choose A Production'} %>
            </div>
          </p>
          <br>
          <p>
            <%= f.label :role %><br>
            <div class="black-dropdown">
              <%= f.select :role, [['Musician','Musician'],['Actor/Actress','Actor/Actress']], {:include_blank => 'Choose A Role'} %>
            </div>
          </p>
          <br>
          <p>
            <%= f.label :instruments %><br>
            <% @instruments.each do |instrument| %>
              <%= check_box_tag "instruments[]", instrument.id %>
              <%= instrument.name %> <br>
            <% end %>
          </p>
          
          <p>
            <b>Overall, Would you recommend/work with this person again?</b><br />
            <br>
            <%= f.radio_button :rating, '5' %> Yes!!<br />
            <br>
            <%= f.radio_button :rating, '4' %> Yes<br />
            <br>
            <%= f.radio_button :rating, '3' %> I won't cast them, but I won't object<br />
            <br>
            <%= f.radio_button :rating, '2' %> Rather not<br />
            <br>
            <%= f.radio_button :rating, '1' %> Definitely not<br />
          </p>
          <br>
          <p>
            <b>How is this person's attitude?</b><br />
            <br>
            <%= f.radio_button :attitude, '4' %> Brings joy to every rehearsal<br />
            <br>
            <%= f.radio_button :attitude, '3' %> Professional and easy to work with<br />
            <br>
            <%= f.radio_button :attitude, '2' %> Sometimes needs managing<br />
            <br>
            <%= f.radio_button :attitude, '1' %> Difficult<br />
          </p>
         <br>
          <p>
            <%= f.submit "Next", :id => "buttons"%>
          </p>
        <!--</div>-->
           
          <!--<%= link_to 'Back', root_path %>-->
          <!--<% end %>-->
        
      </div>
    </div>
  </div>
