<h1>New Note</h1>

<%= form_for :note, url: notes_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :production %><br>
    <%= f.text_field :production %> 
  </p>
  
  <p>
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </p>
  
  <p>
    <b>Overall, Would you recommend/work with this person again?</b><br />
    <%= f.radio_button :rating, '5' %> 5 Yes!!<br />
    <%= f.radio_button :rating, '4' %> 4 Yes<br />
    <%= f.radio_button :rating, '3' %> 3 I won't cast them, but I won't object<br />
    <%= f.radio_button :rating, '2' %> 2 Rather not<br />
    <%= f.radio_button :rating, '1' %> 1 Definitely not<br />
  </p>
  
  <p>
    <b>How is this person's attitude?</b><br />
    <%= f.radio_button :attitude, '4' %> 4 Brings joy to every rehearsal<br />
    <%= f.radio_button :attitude, '3' %> 3 Professional and easy to work with<br />
    <%= f.radio_button :attitude, '2' %> 2 Sometimes needs managing<br />
    <%= f.radio_button :attitude, '1' %> 1 Difficult<br />
  </p>
 
  <p>
    <%= f.submit "Next"%>
  </p>
 
<%= link_to 'Back', root_path %>
<% end %>