<!DOCTYPE html>
<html>
<head>
  <title>Directable</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/2590d0dbef.js"></script>
<style>
body {
  /*background-color: #DCDCDC !important;*/
    background-color: #e0e0e0!important;

}
</style>
</head>

<br>
<br>
<br>
<br>
<br>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title">New Note: Actor/Actress</h1>

        <%= form_for @note, :url => notes_create_actor_path(:id => @note.id), :html => { :method => :post }  do |f| %>
            <p>
              <b>Reads music?</b><br />
              <%= f.radio_button :reads_music, '3' %> Very well<br />
              <%= f.radio_button :reads_music, '2' %> Can work on their own, but not sightread<br />
              <%= f.radio_button :reads_music, '1' %> No<br />
            </p>
            
            <p>
              <b>Harmony singer?</b><br />
              <%= f.radio_button :harmony_singer, '4' %> Pro/Veteran<br />
              <%= f.radio_button :harmony_singer, '3' %> Solidly teachable<br />
              <%= f.radio_button :harmony_singer, '2' %> Teachable but weak<br />
              <%= f.radio_button :harmony_singer, '1' %> No<br />
            </p>
            
            <p>
              <%= f.label :description %><br>
              <div class="black-description">
                <%= f.text_area :description %>
              </div>
              
            </p>
            
            <p>
              <%= f.submit "Create Note"%>
            </p>
            <br>
            <%= link_to 'Back', new_note_path, id: "back-btn-actor" %>
        <% end %>
        <br>  
        <div class="sign_out_position">
          <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
              <div>
                
                <div class="hidden-xs hidden-sm hidden-md hidden-lg">
                  <%= link_to "Sign out", signout_path, id: "sign_out" %>
                  <%= link_to "My notes", notes_path %>
                  <%= link_to "Create note", new_note_path %>
                </div>
                
              </div>
              <% else %>
                <button class="btn-facebook btn-lg">
                  <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
                </button>
                <button class="btn-linkedin btn-lg">
                  <%= link_to 'Sign in with Linkedin', '/auth/linkedin', id: "sign_in_linkedin" %>
                </button>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</body>

