<h1>New Note: Actor/Actress</h1>

<%= form_for @note, :url => notes_create_actor_path(:id => @note.id), :html => { :method => :post }  do |f| %>
    <p>
      <b>Reads music?</b><br />
      <%= f.radio_button :reads_music, '3' %> 3 Very well<br />
      <%= f.radio_button :reads_music, '2' %> 2 Can work on their own, but not sightread<br />
      <%= f.radio_button :reads_music, '1' %> 1 No<br />
    </p>
    
    <p>
      <b>Harmony singer?</b><br />
      <%= f.radio_button :harmony_singer, '4' %> 4 Pro/Veteran<br />
      <%= f.radio_button :harmony_singer, '3' %> 3 Solidly teachable<br />
      <%= f.radio_button :harmony_singer, '2' %> 2 Teachable but weak<br />
      <%= f.radio_button :harmony_singer, '1' %> 1 No<br />
    </p>
    
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
    
    <p>
      <%= f.submit "Create Note"%>
    </p>
<% end %>