<h1>New Note: Musician</h1>

<%= form_for @note, :url => notes_create_musician_path(:id => @note.id), :html => { :method => :post }  do |f| %>
  <p>
    <b>A Star Sub?</b><br />
    <%= f.radio_button :star_sub, 'true' %> Yes<br />
    <%= f.radio_button :star_sub, 'false' %> No<br />
  </p>
  
  <p>
    <b>Musical Maturity & Experience</b><br />
    <%= f.radio_button :musical_maturity, '4' %> 4 Pro/Veteran<br />
    <%= f.radio_button :musical_maturity, '3' %> 3 Solid<br />
    <%= f.radio_button :musical_maturity, '2' %> 2 A few weaknesses but fine<br />
    <%= f.radio_button :musical_maturity, '1' %> 1 Green<br />
  </p>
  
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.submit "Create Note"%>
  </p>
<% end %>