<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Directable</title>
    
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/2590d0dbef.js"></script>

</head>

<body>
<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> 
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href=/notes_home>Directable</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <% if current_user %>
                        <li>
                            <%= link_to "Add Note", new_note_path, :method => "get"%>
                        </li> 
                        <li>
                            <%= link_to "Add Profile", new_profile_path, :method => "get"%>
                        </li>   
                        <li>
                            <%= link_to "Add Prod", new_production_path, :method => "get"%>
                        </li>
	                    <li>
	                    	<%= link_to "Sign out", signout_path, id: "sign_out"%>
	                    </li>
	               <% else %>
	                	<li>
	                		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	                	</li>
	                	<li>
	                		<%= link_to "Sign in with LinkedIn", "/auth/linkedin", id: "sign_in_linkedin" %>
	                	</li>
                	<% end %>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

  
<%= yield %>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3 class="footer-title">About</h3>
                        <p class="footer-title"> Directable allows you to leave reviews, rate,
                        and connect with your peers in your theatrical community!</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3 class="footer-title">Share Directable Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a class="footer-title" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="footer-title" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a class="footer-title" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="footer-title" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3 class="footer-title">Suggestions on improvements?</h3>
                        <p class="footer-title">Email Us <a class="footer-title" href="cs169directable@gmail.com">Here</a>!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; directable.herokuapp.com 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>